<div class="hero-unit">
  <h1>Projection Junction</h1>
  <p>The best place to see all Fantasy Projections in one place on the internet</p>
</div>

<h1>NFL</h1>
<table class="table table-condensed">
  <tbody>
    <tr>
      <td><h4>ESPN</h4></td>
      <td><%= link_to "All", players_path(source: "espn", year: "2014"), :class => 'btn btn-primary' %></td>
      <td><%= link_to "QB", quarterbacks_players_path(source: "espn", year: "2014"), :class => 'btn' %></td>
      <td><%= link_to "RB", runningbacks_players_path(source: "espn", year: "2014"), :class => 'btn' %></td>
      <td><%= link_to "WR", widereceivers_players_path(source: "espn", year: "2014"), :class => 'btn' %></td>
      <td><%= link_to "TE", tightends_players_path(source: "espn", year: "2014"), :class => 'btn' %></td>
      <td><%= link_to "DST", defenses_players_path(source: "espn", year: "2014"), :class => 'btn' %></td>
      <td><%= link_to "K", kickers_players_path(source: "espn", year: "2014"), :class => 'btn' %></td>
    </tr>
    <tr>
      <td><h4>CBS</h4></td>
      <td><%= link_to "All", players_path(source: "cbs", year: "2014"), :class => 'btn btn-primary' %></td>
      <td><%= link_to "QB", quarterbacks_players_path(source: "cbs", year: "2014"), :class => 'btn' %></td>
      <td><%= link_to "RB", runningbacks_players_path(source: "cbs", year: "2014"), :class => 'btn' %></td>
      <td><%= link_to "WR", widereceivers_players_path(source: "cbs", year: "2014"), :class => 'btn' %></td>
      <td><%= link_to "TE", tightends_players_path(source: "cbs", year: "2014"), :class => 'btn' %></td>
      <td><%= link_to "DST", defenses_players_path(source: "cbs", year: "2014"), :class => 'btn' %></td>
      <td><%= link_to "K", kickers_players_path(source: "cbs", year: "2014"), :class => 'btn' %></td>
    </tr>
    <tr>
      <td><h4>2013 Actuals</h4></td>
      <td><%= link_to "All", players_path(source: "espn",year: "2013"), :class => 'btn btn-primary' %></td>
      <td><%= link_to "QB", quarterbacks_players_path(source: "espn", year: "2013"), :class => 'btn' %></td>
      <td><%= link_to "RB", runningbacks_players_path(source: "espn", year: "2013"), :class => 'btn' %></td>
      <td><%= link_to "WR", widereceivers_players_path(source: "espn", year: "2013"), :class => 'btn' %></td>
      <td><%= link_to "TE", tightends_players_path(source: "espn", year: "2013"), :class => 'btn' %></td>
      <td><%= link_to "DST", defenses_players_path(source: "espn", year: "2013"), :class => 'btn' %></td>
      <td><%= link_to "K", kickers_players_path(source: "espn", year: "2013"), :class => 'btn' %></td>
    </tr>

  </tbody>
</table>