<% 
  model_class = Player 
  source = params[:source].upcase
  year = params[:year]
%>

<div class="page-header">
  <h1><%= link_to "All Positions", players_path(source: source, year: year, format: "csv") %>: <%= year %> <%= source %></h1>
</div><%= link_to "<i class='icon-white icon-backward'></i> Home".html_safe, root_path, :class => 'btn btn-mini btn-primary' %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Position</th>
      <th>Team</th>
      <th>Rushes</th>
      <th>Rush Yards</th>
      <th>Rush TDs</th>
      <th>Targets</th>
      <th>Receptions</th>
      <th>Receiving Yards</th>
      <th>Receiving TDs</th>
      <th>Completions</th>
      <th>Attempts</th>
      <th>Pass Yards</th>
      <th>Pass TDs</th>
      <th>Interceptions</th>
      <th>Sacks</th>
      <th>Fumble Recoveries</th>
      <th>Points Against</th>
      <th>Yards Against</th>
      <th>Kicking Attempts 1 to 39</th>
      <th>Kicking Completions 1 to 39</th>
      <th>Kicking Attempts 40 to 49</th>
      <th>Kicking Completions 40 to 49</th>
      <th>Kicking Attempts Over 50</th>
      <th>Kicking Completions Over 50</th>
      <th>Kicking Total Attempts</th>
      <th>Kicking Total Completions</th>
      <th>Kicking Attempts XP</th>
      <th>Kicking Completions XP</th>
      <th>Fumble Lost</th>
      <th>Points</th>
    </tr>
  </thead>
  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td><%= player.name %></td>
        <td><%= player.position %></td>
        <td><%= player.team %></td>
        <td><%= player.rushes %></td>
        <td><%= player.rush_yards %></td>
        <td><%= player.rush_tds %></td>
        <td><%= player.targets %></td>
        <td><%= player.receptions %></td>
        <td><%= player.receiving_yards %></td>
        <td><%= player.receiving_tds %></td>
        <td><%= player.completions %></td>
        <td><%= player.attempts %></td>
        <td><%= player.pass_yards %></td>
        <td><%= player.pass_tds %></td>
        <td><%= player.interceptions %></td>
        <td><%= player.sacks %></td>
        <td><%= player.fumble_recoveries %></td>
        <td><%= player.points_against %></td>
        <td><%= player.yards_against %></td>
        <td><%= player.kicking_attempts_1_to_39 %></td>
        <td><%= player.kicking_completions_1_to_39 %></td>
        <td><%= player.kicking_attempts_40_to_49 %></td>
        <td><%= player.kicking_completions_40_to_49 %></td>
        <td><%= player.kicking_attempts_over_50 %></td>
        <td><%= player.kicking_completions_over_50 %></td>
        <td><%= player.kicking_attempts_total %></td>
        <td><%= player.kicking_completions_total %></td>
        <td><%= player.kicking_attempts_XP %></td>
        <td><%= player.kicking_completions_XP %></td>
        <td><%= player.fumble_lost %></td>
        <td><%= player.fpoints %></td>
      </tr>
    <% end %>
  </tbody>
</table>