<% 
  model_class = Player 
  source = params[:source].upcase
  year = params[:year]
%>

<div class="page-header">
  <h1><%= link_to "Wide Receivers", widereceivers_players_path(source: source, year: year, format: "csv") %>: <%= year %> <%= source %></h1>
</div>
<%= link_to "<i class='icon-white icon-backward'></i> Home".html_safe, root_path, :class => 'btn btn-mini btn-primary' %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Team</th>
      <th>Rushes</th>
      <th>Rush Yards</th>
      <th>Rush TDs</th>
      <th>Targets</th>
      <th>Receptions</th>
      <th>Receiving Yards</th>
      <th>Receiving TDs</th>
      <th>Fumble Lost</th>
      <th>Points</th>
    </tr>
  </thead>
  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td><%= player.name %></td>
        <td><%= player.team %></td>
        <td><%= player.rushes %></td>
        <td><%= player.rush_yards %></td>
        <td><%= player.rush_tds %></td>
        <td><%= player.targets %></td>
        <td><%= player.receptions %></td>
        <td><%= player.receiving_yards %></td>
        <td><%= player.receiving_tds %></td>
        <td><%= player.fumble_lost %></td>
        <td><%= player.fpoints %></td>
      </tr>
    <% end %>
  </tbody>
</table>